{% extends 'base.html' %}
{% block content %} 
    {% for message in get_flashed_messages()%}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
    <h2>Dash Board</h2>
    <p>You are logged in</p>
    <br/>
    <div class="shadow p-3 mb-5 bg-body rounded">
    
    <strong>Name :</strong> {{ current_user.name }}<br/>

    <strong>User name:</strong> {{ current_user.username }}<br/>

    <strong>User ID:</strong> {{ current_user.id }}<br/>

    <strong>Email:</strong> {{ current_user.email }}<br/>
    <strong>Date Joined:</strong> {{ current_user.date_added }}<br/>
    </div>

    <br>
    <a href="{{ url_for('logout')}}" class= "btn btn-secondary">Log-out</a>
    <a href="{{ url_for('update',id=current_user.id)}}"class= "btn btn-secondary">Update Profile</a>
    <a href="{{ url_for('delete',id=current_user.id) }}" class="btn btn-danger">Delete</a>
    
    <br/>

  </div>
  
{% endblock %}